<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @step_activity.user %>
</p>

<p>
  <b>:</b>
  <%= @step_activity. %>
</p>

<p>
  <b>Description:</b>
  <%= @step_activity.description %>
</p>


<%= link_to 'Edit', edit_step_activity_path(@step_activity) %> |
<%= link_to 'Back', step_activities_path %>
