<div id="content">

<h1>
  <%= @rc.name %>
</h1>

<p id="notice"><%= notice %></p>

<%= link_to run_path(@run) do %>
  <span class="glyphicon glyphicon-backward"></span>
<% end %>

<h3 id="percent_completed"><%= @rc.percent_completed %>%</h3>

<br />
<table id="run_steps_table" class="table table-bordered table-responsive data_table">
  <thead>
    <tr>
      <td style="width:13%">Status</td>
      <td style="width:7%">Note</td>
      <td style="width:80%">Description</td>
  </tr>
</thead>
<tbody>
<% @steps.each do |step| %>
  <tr id="run_step_<%= step.id %>" data-id="<%= step.id %>" class="run_step_row" data-run_case_id="<%= @rc.id %>" data-run_id="<%= @rc.run.id %>">
    <td class="status_col">
      <div class="radio status_new <%= "checked" if step.status == 'new' %>"><label>
          <%= radio_button_tag "status_#{step.id}", 'new', (step.status == 'new') %>
        New
      </label></div>
      <div class="radio status_pass <%= "checked" if step.status == 'pass' %>"><label>
          <%= radio_button_tag "status_#{step.id}", 'pass', (step.status == 'pass') %>
        Pass
      </label></div>
      <div class="radio status_failed <%= "checked" if step.status == 'failed' %>"><label>
          <%= radio_button_tag "status_#{step.id}", 'failed', (step.status == 'failed') %>
        Failed
      </label></div>
      <div class="radio status_retest <%= "checked" if step.status == 'retest' %>"><label>
          <%= radio_button_tag "status_#{step.id}", 'retest', (step.status == 'retest') %>
        Re-test
      </label></div>
      <div class="radio status_skip <%= "checked" if step.status == 'skip' %>"><label>
          <%= radio_button_tag "status_#{step.id}", 'skip', (step.status == 'skip') %>
        Skip
      </label></div>
    </td>
    <td class="note"><a id="run_step_note_modal_btn" href="#run_step_note_modal" data-case_id="<%= @rc.id %>" data-step_id="<%= step.id %>" data-toggle="modal" class="new_modal_btn glyphicon glyphicon-comment <%= "has_note" if !step.note.blank? %>"></a></td>
    <td class="description"><pre><%= step.description %></pre></td>
  </tr>
<% end %>
</tbody>
</table>

<div id="run_step_note_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden=true">&times;</button>
        <h3 class="modal-title">Step Note</h3>
      </div>
       <div class="modal-body"></div>
     </div>
   </div>
 </div>

</div>
