<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @run_step_activity.user %>
</p>

<p>
  <b>Run step:</b>
  <%= @run_step_activity.run_step %>
</p>

<p>
  <b>New state:</b>
  <%= @run_step_activity.new_state %>
</p>

<p>
  <b>:</b>
  <%= @run_step_activity. %>
</p>


<%= link_to 'Edit', edit_run_step_activity_path(@run_step_activity) %> |
<%= link_to 'Back', run_step_activities_path %>
