<div id="content">

<h1>
  <%= @project.name %>
</h1>

<p id="notice"><%= notice %></p>

<%= link_to edit_project_path(@project) do %>
  <span class="glyphicon glyphicon-edit"></span>
<% end %>

<a id="new_case_modal_btn" data-backdrop="false" type="button" class="new_modal_btn btn btn-primary" href="#new_case_modal" data-toggle="modal" data-project_id="<%= @project.id %>">New Case</a>
<br />
<table id="cases_table" class="table table-bordered table-responsive data_table">
  <thead>
    <tr>
      <th style="width:10%"></th>
      <th style="width:60%">Name</th>
      <th style="width:30%">Description</th>
    </tr>
  </thead>
  <tbody>
<% @tcs.each do |tc| %>
  <tr id="case_<%= tc.id %>" data-id="<%= tc.id %>" class="case_row" data-project_id="<%= @project.id %>">
    <td class="edit-col"><a class="delete" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
    <td class="name"><%= link_to tc.name, project_test_case_path(@project, tc) %></td>
    <td class="description"><%= tc.description %></td>
  </tr>
<% end %>
</tbody>
</table>

<div id="new_case_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">New Test Case</h3>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

</div>
