<div id="content">

<p id="notice"><%= notice %></p>

<h1>
  <%= @tc.name %>
</h1>

<%= link_to project_path(@tc.project), :class => "back_link" do %>
  <span class="glyphicon glyphicon-backward"></span>
<% end %>
<%= link_to [:edit, @tc.project, @tc] do %>
  <span class="glyphicon glyphicon-edit"></span>
<% end %>

<a id="new_step_modal_btn" data-backdrop="false" type="button" class="btn btn-primary new_modal_btn" href="#new_step_modal" data-toggle="modal" data-case_id="<%= @tc.id %>" data-project_id="<%= @tc.project.id %>">New Step</a>
<br />
<table id="steps_table" class="table table-bordered table-responsive data_table">
  <thead>
    <tr>
    <th style="width:10%"></th>
    <th style="width:90%">Description</th>
  </tr>
</thead>
<tbody>
  <% @steps.each do |step| %>
    <tr id="step_<%= step.id %>" data-id="<%= step.id %>" class="step_row" data-project_id="<%= @tc.project.id %>" data-case_id="<%= @tc.id %>">
      <td class="edit-col">
        <%= link_to [:edit, @tc.project, @tc, step] do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <a class="delete" href="#"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
      <td class="description"><pre><%= step.description %></pre></td>
    </tr>
  <% end %>
</tbody>
</table>

<div id="new_step_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden=true">&times;</button>
        <h3 class="modal-title">Step</h3>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

</div>
