<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <% if @run.id.nil? %>
    <div class="form-group">
      <%= f.label :project %><br />
      <%= collection_select(:run, :project_id, @projects, :id, :name, {:prompt => true},  {:class => "form-control"}) %>
    </div>
<% end %>
  <div class="form-actions">
    <%= f.submit :save, class:"btn btn-default" %>
  </div>
<% end %>
