<div id="content">

<p id="notice"><%= notice %></p>

  <h1>Test Runs</h1>

<a id="new_run_modal_btn" data-backdrop="false" type="button" class="btn btn-primary new_modal_btn" href="#new_run_modal" data-toggle="modal">New Test Run</a>
<br />
<table id="runs_table" class="table table-bordered table-responsive data_table">
  <thead>
    <tr>
    <th style="width:10%"></th>
    <th style="width:10%">Percents</th>
    <th style="width:80%">Name</th>
  </tr>
</thead>
<% @runs.each do |run| %>
  <tr id="run_<%= run.id %>" data-id="<%= run.id %>" class="run_row">
    <td class="edit-col"><a class="delete" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
    <td>
      <%= run.percent_completed %>% Complete<div class="clear_float" />
      <%= run.percent_passed %>% Passed<div class="clear_float" />
      <%= run.percent_failed %>% Failed
    </td>
    <td class="name"><%= link_to run.name, run_path(run) %></td>
  </tr>
<% end %>
</tbody>
</thead>

<div id="new_run_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">New Run</h3>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

</div>
