<div id="content">

<h1>
  <%= @run.name %>
</h1>

<p id="notice"><%= notice %></p>

<h3 id="percent_completed"><%= @run.percent_completed %>%</h3>

<%= link_to edit_run_path(@run) do %>
  <span class="glyphicon glyphicon-edit"></span>
<% end %>

<table id="run_cases_table" class="table table-bordered table-responsive data_table">
  <thead>
    <tr>
    <th style="width:10%">Percents</th>
    <th style="width:30%">Test Case Name</th>
    <th style="width:60%">Description</th>
  </tr>
</thead>
<tbody>
<% @rcs.each do |rc| %>
  <tr id="run_case_<%= rc.id %>" data-id="<%= rc.id %>" class="run_case_row" data-run_id="<%= @run.id %>">
    <td>
      <%= rc.percent_completed %>% Complete<div class="clear_float" />
        <%= rc.percent_passed %>% Passed<div class="clear_float" />
      <%= rc.percent_failed %>% Failed
    </td>
    <td class="name"><%= link_to rc.name, run_run_case_path(@run, rc) %></td>
    <td class="description"><%= rc.description %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
