<p id="notice"><%= notice %></p>

<h1>
  <%= @run.name %>
</h1>

<div id="content">

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>

<br />
<div id="run_cases_table" class="data_table bs-docs-grid">
  <div class="row-fluid show-grid">
    <div class="span2"></div>
    <div class="span4">Name</div>
    <div class="span4">Description</div>
  </div>
<% @rcs.each do |rc| %>
  <div id="run_case_<%= rc.id %>" data-id="<%= rc.id %>" class="row-fluid show-grid run_case_row" data-run_id="<%= @run.id %>">
    <div class="span2"><a class="delete" href="#">Delete</a></div>
    <div class="span4 name"><%= link_to rc.name, run_run_case_path(@run, rc) %></div>
    <div class="span4 description"><%= rc.description %></div>
  </div>
<% end %>
</div>

</div>
